.container {
    width: 100%;
    max-width: 320px;
    margin: auto;
    padding: 0 16px;
}
@media screen and (min-width:575px){
    .container {
        max-width: 575px;
    }
}
@media screen and (min-width:767px){
    .container {
        max-width: 767px;
    }
}
@media screen and (min-width:991px){
    .container {
        max-width: 991px;
    }
}
@media screen and (min-width:1160px){
    .container {
        max-width: 1160px;
    }
}